/* Здесь вы напишете основную часть стилей страницы.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

*/

.page {
  min-inline-size: 375px;
  min-block-size: 100dvb;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: var(--main-font), sans-serif;
  font-variation-settings: "wght" var(--main-weight);
  background-image: var(--background-gradient);
  background-size: cover;
  background-attachment: fixed;
}

.content {
  width: var(--content-width);
}

.header {
  padding: clamp(7.625rem, 7.449rem + 0.751vw, 8.125rem)
    clamp(1rem, -1.344rem + 10vw, 7.656rem);
  margin: 100px 0;
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.header__title-wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.header__title {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(3.0625rem, 2.7104rem + 1.5023vw, 4.0625rem);
}

.header__subtitle {
  font-family: var(--accent-font), sans-serif;
  font-size: clamp(0.875rem, 0.6769rem + 0.8451vw, 1.4375rem);
}

.main {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.section {
  border: 2px solid var(--accent-color);
  background-color: var(--bg-color);
}

.section-title {
  font-variation-settings: "wght" var(--title-weight);
  font-size: 18px;
  padding: 4px 10px;
}

.section__image-wrapper {
  position: relative;
  overflow: hidden;
}

.label {
  position: absolute;
  top: 25px;
  right: 25px;
  mix-blend-mode: hard-light;
  font-family: var(--accent-font), sans-serif;
  font-size: 14px;
  opacity: 50%;
  text-shadow: -1px -1px 0 var(--stroke-color), 1px -1px 0 var(--stroke-color),
    -1px 1px 0 var(--stroke-color), 1px 1px 0 var(--stroke-color),
    0px -1px 0 var(--stroke-color), 0px 1px 0 var(--stroke-color),
    -1px 0px 0 var(--stroke-color), 1px 0px 0 var(--stroke-color);
}

@supports (
  (text-stroke: 1px var(--stroke-color)) or
    (-webkit-text-stroke: 1px var(--stroke-color))
) {
  .label {
    -webkit-text-stroke: 1px var(--stroke-color);
    text-stroke: 1px var(--stroke-color);
    text-shadow: none;
  }
}

.section__image {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
}

.card {
  display: grid;
  gap: 25px;
  padding: 25px;
}

.card__text {
  font-size: 18px;
}

.card__buttons {
  justify-self: end;
  display: flex;
  align-items: center;
  gap: 7px;
}

.button {
  background-color: var(--bg-color);
  border: 2px solid var(--accent-color);
  cursor: pointer;
  outline: none;
  overflow: hidden;
  position: relative;
  line-height: 90%;
}

.card__icon-button {
  display: flex;
  transition: outline-width 0.3s ease;
  outline-offset: -1px;
  outline: 0 solid var(--accent-color);
  border: none;
  padding: 0;
}

.card__icon-button:focus {
  outline: none;
}

.card__icon-button:focus-visible {
  outline-width: 2px;
}

.like-icon {
  transform-origin: center;
}

.heart {
  transform-origin: center;
  transform-box: fill-box;
}

.sparks {
  opacity: 0;
}

.card__like-button {
  width: 118px;
  height: 38px;
  transition: box-shadow 0.3s ease;
}

.button__text {
  font-family: var(--accent-font);
  font-size: 14px;
  position: relative;
  z-index: 1;
  color: var(--stroke-color);
  mix-blend-mode: difference;
}

.footer {
  display: flex;
  justify-content: center;
  padding: 50px 34px 100px 34px;
}

.save-button {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 8px;
  padding: 17px 20px;
  transition: box-shadow 0.3s ease;
  min-width: 310px;
}

.floppy-icon {
  width: 28px;
  height: 28px;
  position: relative;
  z-index: 1;
  fill: var(--bg-color);
  mix-blend-mode: difference;
}

dialog[open] {
  width: 341px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 30px 40px;
  position: fixed;
  inset: 0;
}

.dialog__wrapper .floppy-icon {
  width: 39px;
  height: 39px;
  flex-shrink: 0;
}

.dialog__wrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}

.dialog__button {
  padding: 12.5px 116.5px;
  transition: box-shadow 0.3s ease;
}

dialog[open]::backdrop {
  background-color: rgba(0, 0, 0, 0.75);
}

.sepia-image {
  filter: sepia(70%);
}

.invert-image {
  filter: invert(0.9);
}

.saturate-image {
  filter: saturate(200%);
}

.hue-rotate-image {
  filter: hue-rotate(90deg);
}

.blur-image {
  filter: blur(8px);
}

.brightness-image {
  filter: brightness(220%);
}

.multiple-image {
  filter: sepia(60%) saturate(150%) brightness(1.1) blur(2px);
}

.card__like-button:focus,
.save-button:focus,
.dialog__button:focus {
  box-shadow: 2px 2px 0 var(--accent-color);
}

.card__like-button::before,
.save-button::before,
.dialog__button::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: var(--accent-color);
  transform: translateX(-100%);
  transition: transform 0.5s ease-in-out;
  z-index: 0;
}

.card__like-button:hover::before,
.save-button:hover::before,
.dialog__button:hover::before {
  transform: translateX(0);
}
